<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/usergamehistory/create.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Dashboard | Create History Game User</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="logo" src="/images/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">
                    <img class="logo" src="/images/home.png">
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/create">
                  <img class="logo" src="/images/create.png">
                </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/logout">
                    <img class="logo" src="/images/logout.png">
                  </a>
              </li>
          </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <p>Add 1 Game History data to the user ID : <%= usergame.id %></p>
        <form method="POST" id="createuserGameHistoryForm" action="/api/create/usergamehistory">
            <div>
              <label for="game">game</label>
              <input type="text" name="game" placeholder="Input Game" class="form-control">
              <label for="score">Score</label>
              <input type="number" name="score" placeholder="Input Score" class="form-control">
              <label for="level">Level</label>
              <input type="number" name="level" placeholder="Input level" class="form-control">
              <label for="lastLogin">Last Login</label>
              <input type="date" name="lastLogin" placeholder="Last Login" class="form-control">
              <input type="hidden" name="userId" value="<%= usergame.id %>">
            </div>
          
            <button type="submit" class="btn btn-info">Save</button>
          </form>
          
    
    </div>
<p class="text-center text-muted">© Copyright 2023 Simple Dashboard</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>