
#background_404 {
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('../assets/main-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.error-response {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    padding-top: 40px;
}

.redirect {
    font-size:large;
    text-transform: uppercase;
}
