<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" href="/css/edit.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Dashboard | Edit User</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="logo" src="/images/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">
                    <img class="logo" src="/images/home.png">
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/create">
                  <img class="logo" src="/images/create.png">
                </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/logout">
                    <img class="logo" src="/images/logout.png">
                  </a>
              </li>
          </ul>
          </div>
        </div>
      </nav>
    <div class="container mt-5">
        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>
        
        <form method="POST" id="edituserGameForm" action="/api/edit/usergame">
            
            <input type="hidden" name="id" value="<%= usergame.id %>">
            <div>
                <p>User Game</p>
                <label for="username">Username</label>
                <input 
                    type="text" 
                    name="username" 
                    placeholder="Input username" 
                    class="form-control"
                    value="<%= usergame.username %>">
                <label for="password">Password</label>
                <input 
                    type="text" 
                    name="password" 
                    placeholder="Input password" 
                    class="form-control"
                    value="<%= usergame.password %>">
                    <div id="passwordHelp" class="info-edit form-text" >Username and Password must be between 5 and 20 Characters</div>
            </div>
        <button type="submit" class="btn btn-info">Save</button>
        <a href="/" class="btn btn-warning">Cancel</a>     
        </form>
        <form method="POST" id="edituserGameBiodataForm" action="/api/edit/usergamebiodata">
            
            <input type="hidden" name="id" value="<%= usergame.id %>">
            <div>
            
                <p>Biodata</p>
                <label for="fullName">Full Name</label>
                <input 
                    type="text" 
                    name="fullName" 
                    placeholder="Input Full Name" 
                    class="form-control"
                    value="<%= usergame.userGameBiodatum ? usergame.userGameBiodatum.dataValues.fullName : 'Data not found' %>">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    name="email" 
                    placeholder="Input Email" 
                    class="form-control"
                    value="<%= usergame.userGameBiodatum ? usergame.userGameBiodatum.dataValues.email : 'Data not found' %>">
                <label for="dateofbirth">Date of birth</label>
                <input 
                        type="text" 
                        name="dateofbirth" 
                        placeholder="Input Date of birth" 
                        class="form-control"
                        value="<%= usergame.userGameBiodatum ? usergame.userGameBiodatum.dataValues.dateofbirth : 'Data not found' %>">
            </div>
            <button type="submit" class="btn btn-info">Save</button>
            <a href="/" class="btn btn-warning">Cancel</a>     
        </form>
        <% if (usergame.userGameHistories.length === 0) { %>
            <p>No game history found.</p>
        <% } else { %>
            <p>Game History</p>
            <form method="POST" id="edituserGameHistoryForm" action="/api/edit/usergamehistory">
                <input type="hidden" name="id" value="<%= usergame.id %>">
                <% usergame.userGameHistories.forEach((ugh, index) => { %>
                    <div>
                        <label for="game<%= index %>">Game</label>
                        <input 
                            type="text" 
                            name="game<%= index %>" 
                            placeholder="Input Game name" 
                            class="form-control"
                            value="<%= ugh.game %>">
                        <label for="score<%= index %>">Score</label>
                        <input 
                            type="number" 
                            name="score<%= index %>" 
                            placeholder="Input Score" 
                            class="form-control"
                            value="<%= ugh.score %>">
                        <label for="level<%= index %>">Level</label>
                        <input 
                            type="number" 
                            name="level<%= index %>" 
                            placeholder="Input Level" 
                            class="form-control"
                            value="<%= ugh.level %>">
                        <label for="lastLogin<%= index %>">Last Login</label>
                        <input 
                            type="text" 
                            name="lastLogin<%= index %>" 
                            placeholder="Input Last Login" 
                            class="form-control"
                            value="<%= ugh.lastLogin %>">
                    </div>
                <% }) %>
                
                <a href="/create/usergamehistory/<%= usergame.id %>" class="btn btn-success">Add</a>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="/" class="btn btn-warning">Cancel</a>     
            </form>
        <% } %>

</div>
<p class="text-center text-muted">© Copyright 2023 Simple Dashboard</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>