<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Dashboard | Login</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="shortcut icon" href="./images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background container">
        <div class="row">
            <form action="/login" method="post" id="Login">
                <img class="logo-header" src="./images/login-header.png">
                <p>Welcome, please fill out your username and password to login</p>
                <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img class="logo d-inline-block align-top" src="./images/username.png">
                      </div>
                      <div class="col">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Username">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img class="logo d-inline-block" src="./images/password.png">
                      </div>
                      <div class="col">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="******">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <img class="logo" src="./images/login.png">Login
                  </button>
              </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</body>
</html>
